body{
    font-size:16px;
    line-height:1.3;
    font-family: sans-serif;
    margin:10px;
    padding:0;
}
button{
    font-size:16px;
    line-height:1.3;
    font-family: sans-serif;
}
p{
    margin:0;
}

div#container{
    width:100%;
}

#container-content{
    background-color: #FFF;
    margin-top:20px;
}
#main-content h1 {
    margin-bottom: 0;
}

#main-content h3 {
    margin:0;
}
.col{
    width:100%;
}

.row{
    display:block;
    margin:0;
}

table{
    width: 100%;
    padding:0;
    border-spacing: 0;
    text-align: center;
}
th{
    background-color:#2E4053;
    color:white;
    padding:10px;
}
td{
    padding:10px;
    border-bottom:1px solid #EAF2F8;
}
tr:nth-child(odd) td{
    background-color:#D6EAF8;
}
tr:nth-child(even) td{
    background-color:#85C1E9;
}
.btn{
    color:#FFF;
    display:block;
    padding:10px;
    background-color:#3387FF;
    text-decoration: none;
    text-align: center;
    border:1px solid #fff;
}
.btn-delete{
    background-color:#999;
    color:#000;
}
.btn-right{
    float:right;
    right:0;
    margin:10px 0 10px 0;
}

.btn:hover{
    background-color:#2471A3;
    cursor: hand;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
li{
    padding:0;
}
.col{
    width:100%;
    float:left;
}

.row{
    display:block;
    margin:0;
}

input, textarea{
    width:50%;
    padding:10px;
    border:1px solid #85C1E9;
}

.alert-box{
    padding: 10px;
    margin-bottom:10px;
}
.error, .alert-box{
    color:#FFF;
}

.alert-error{
    border:1px solid red;
    background-color:lightcoral;
    margin-top:10px;
}

.alert-success{
    border:1px solid green;
    background-color:lightgreen;
    color:#000;
}

textarea{
    height:200px;
}
.input-row{
    margin-bottom:10px;
}
label{
    display:block;
    width:50%;
}

fieldset{
    margin-top:10px;
    border:1px solid #85C1E9;
}

@media only screen and (min-width:480px) {
    body{
        font-size:18px;
    }
    .row{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .col{
        flex-basis:100%;
        margin:0 20px 0 20px;
    }

    input{
        width:auto;
    }

    .col{
        flex: 1;
    }
    ._25{
        flex: 4;
    }
    ._55{
        flex: 8;
    }

    .col{
        margin:0;
    }
    div#container{
        margin-left:auto;
        margin-right:auto;
        width:1084px;
    }
    #main-content{
        margin-left:20px;
    }
    #main-content h1{
        margin-top:0;
    }

}